<!-- Additional Info -->
<div class="text-center mt-6">
    <p class="text-gray-300">
        By creating an account, you agree to our 
        <a href="#" class="text-primary hover:underline">Terms of Service</a> 
        and 
        <a href="#" class="text-primary hover:underline">Privacy Policy</a>
    </p>
</div>
