<button 
    type="submit" 
    class="w-full bg-primary hover:bg-secondary text-white font-semibold py-3 px-4 rounded-lg transition duration-200 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
>
    <i class="fas fa-<%= icon %> mr-2"></i><%= text %>
</button>
